.beer {
  display: flex;
  justify-content: center;
  min-width: 100%;

  &__list {
    max-width: 50%;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    //justify-content: space-between;
    padding: 20px 30px;

    &:not(:last-of-type) {
      border-bottom: 1px solid #aeaeae;
    }

    &__image {
      display: flex;
      justify-content: center;
      max-width: 100px;
      min-width: 100px;
      aspect-ratio: 3/4;

      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__info {
      &-name {
        margin-bottom: 20px;
        font-weight: 600;
      }

      &-description {
        color: #aeaeae;
      }
    }
  }
}