.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  &__link {
    display: flex;

    &-item {
      & a {
        font-weight: 600;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}